:root {
  --pico-font-size: 93%;
/*  --pico-spacing: 0.8rem;*/
}


[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-background-color: rgba(255,255,255,0.82)
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-background-color: rgba(19,23,31,0.94)
  }
}

html, body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPMmrFrDwAFqgJ64+lE/wAAAABJRU5ErkJggg==) !important;
  backgroun-image-repeat: repeat;
  backdrop-filter: blur(20px);
}

main {
  backdrop-filter: blur(2.375rem);
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
